a.url,b.fn{
    margin-right: 5px;
}

a.comment-edit-link{
    margin-left:5px;
}

.hover-options{
    display: flex;
    column-gap: 10px;
}

#gallery-images-list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:10px;
}
.list-image{
    width: 100%;
    height: 100%;
}
.gallery-item {
    margin-bottom: 10px;
    position: relative;
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 100%;
}

.gallery-images .gallery-item img {
    object-fit: cover; 
    width: 100%;
    height: 100%;
    max-width: 100%; 
    max-height: 100%;
}


.remove-image {
    display: block;
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
    color: red;
    cursor: pointer;
}

.gallery-customizations{
    margin-top: 30px;
    padding: 20px;
}

.comment-section {
    margin-top: 20px;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.comment-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.comment-section input,
.comment-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.comments-area {
    margin-top: 40px;
    border-top: 2px solid #ddd;
    padding-top: 20px;
}

.comments-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-right:15px;
    color: #333;
}

.comment-list {
    list-style: none; 
    padding: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-list li {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.comment-list .comment-author {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comment-list .comment-author .avatar {
    margin-right: 15px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.comment-list .comment-author cite {
    font-weight: bold;
    color: #0073aa;
}

.comment-meta {
    font-size: 0.875em;
    color: #777;
}

.comment-content {
    font-size: 1em;
    color: #333;
    margin-top: 10px;
    line-height: 1.5;
}

.comment-content p{
    margin: 0px;
}

.comment-reply-link {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #0073aa;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
}

.comment-reply-link:hover {
    background-color: #005a8b;
}

.comment-form {
    margin-top: 40px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.comment-form label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.comment-form input[type="submit"] {
    background-color: #0073aa;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.comment-form input[type="submit"]:hover {
    background-color: #005a8b;
}
